* {
  box-sizing: border-box;
  font-family: "Inter", "Lato", "Helvetica", sans-serif;
}

body {
  background-image: linear-gradient(192.802deg, rgb(112, 193, 255), rgb(37, 110, 165) 43%, rgb(149, 195, 231));
  margin: 0;
}

main {
  min-height: 100%;
  min-width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

/* CSS Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #F7FAFD;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #F0F4FA;
}

/* CSS Style for the checkboxes */
input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #262E3B;
  margin: 20px 0;
}

p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #556680;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styles for the form container */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styles for the form labels */
label {
  font-size: 16px;
  font-family: "Inter", "Lato", "Helvetica", sans-serif;
  color: #556680;
  line-height: 1.5;
}

/* Styles for the select dropdowns */
select {
  padding: 5px;
  margin-top: 5px;
  width: 200px;
}

/* Styles for the submit button */
button {
  padding: 0.5em 1em;
  background-color: #482DEB;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:not(:first-child) {
  margin-top: 1em;
}

button:hover {
  background-color: #2F1BA6;
}
