/* CSS Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #F7FAFD;
}

tr {
    font-family: "Inter", sans-serif;
}

tr:nth-child(even) {
  background-color: #F0F4FA;
}

/* CSS Style for the checkboxes */
input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #262E3B;
  margin: 20px 0;
}

p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #556680;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styles for the form container */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styles for the form labels */
label {
  font-size: 16px;
  font-family: "Inter", "Lato", "Helvetica", sans-serif;
  color: #556680;
  line-height: 1.5;
}

/* Styles for the select dropdowns */
select {
  padding: 5px;
  margin-top: 5px;
  width: 200px;
}

/* Styles for the submit button */
button {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #482DEB;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2F1BA6;
}
