.card {
  padding: 2em;
  background: white;
  border: 2px solid #ededed;
  border-radius: 4px;
  max-width: 95vw;
  max-height: 95vh;
}

.header {
  margin-top: 0;
}

.formRow {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.input {
  margin-left: 2em;
  padding: 0.5em;
  min-width: 250px;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.inputLabel {
  min-width: 180px;
}

.tableContainer {
  border: 2px solid #ededed;
  border-radius: 4px;
  overflow: hidden;
}
